
.header{

    background: #FBF7EC;
 


    }





.btnn{

background-color: rgba(117, 107, 238, 1);
color: white;
border: none;


}
/* 
.h1-setup{

padding-left: 130px;



} */



.nav-color{

color: black !important;



}

.word{

color:  rgba(117, 107, 238, 1);
font-size: 70px;

}

.heading-one{


font-size: 70px;

}

.wf-font {
    font-family: 'Work Sans';font-size: 22px;
}






