.arrow{
    margin-left: 40px;
}
.Spotify{
    margin-left: 50px;
}
.Google{
    margin-left: 70px;
}
.Apple{
    margin-left: 80px;
}
.Amazon{
    margin-left: 95px;
}
.Airbng{
    margin-left: 110px;
}
.dboard{
    font-family: Outfit;
}





